.relatorios {
  margin-top: 40px;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  transition: 0.25s;
}

.relatorios:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.008);
}

.card {
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.25s;
}

.card:hover {
  transform: scale(1.008);
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card ul {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}

.card li {
  padding: 0.4rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card li:last-child {
  border-bottom: none;
}

.card p {
  margin: 0.5rem 0;
  font-size: 18px;
}

.card button {
  margin-top: 1rem;
  background-color: white;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: 0.25s;
}

.card button:hover {
  background-color: #ddd;
  transform: scale(1.02);
}

/* CSS de cores */
.vermelho {
  background: linear-gradient(to right, #b71c1c, #f44336);
}

.amarelo {
  background: linear-gradient(to right, #ca9819, #d1c559);
  color: #ffffff;
}

.azulClaro {
  background: linear-gradient(to right, #2196f3, #90caf9);
}

.verdeClaro {
  background: linear-gradient(to right, #43a047, #a5d6a7);
}

.lucro {
  font-size: 1.1rem;
  color: #e8f5e9;
  font-weight: bold;
}