.footerContainer{
    display:flex;
    background-color:white;
    padding:40px;
    width:fit-content;
    gap:40px;
    margin-top:40px;
    border-radius:10px;
    transition:0.25s;
}

.footerContainer:hover{
    transform:scale(1.04);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

a{
    transition:0.25s;
    border-radius:40px;
}

a:hover{
    transform:scale(1.04);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}